* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Crimson Pro', sans-serif;
  background-color: #0e0603;
}

/* HEADER */

#logo img {
  width: 300px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #771405;
}

li, a {
  list-style-type: none;
}

ul {
  display: flex;
  gap: 25px;
  font-size: 20px;
  cursor: pointer;
}

.home-ul:hover,
.images-ul:hover,
.about-ul:hover {
  color: #f2cc8e;
}

/* SECTION AND MAIN CONTENT */

.site-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 100px;
  border: 2px solid red;
}

.show-description {
  display: flex;
  align-items: center;
  gap: 52px;
  padding: 50px;
}

.show-description p {
  font-size: 36px;
  text-shadow: 1px 1px 1px #bc824a;
  color: #771405;
}

.show-description img {
  border-radius: 20px;
  box-shadow: -5px 5px #bc824a;
}

span {
  font-family: 'Courgette', sans-serif;
  margin-left: 10px;
}

span:hover {
  color: #bc824a;
  cursor: pointer;
}


.merlin-section {
  padding: 100px;
  gap: 52px;
  display: flex;
  align-items: center;
}

.merlin-section h2 {
  color: #771405;
  text-align: center;
  font-size: 55px;
  margin-bottom: 20px;
}

.merlin-section h2:hover {
  border-bottom: 2px solid #f2cc8e;
  cursor: pointer;
}



.merlin-section p {
  color: #bc824a;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
}


.merlin-section img {
  width: 600px;
  border-radius: 20px;
}

.merlin-powers {
  padding: 100px;
  border: 2px solid red;
}





